@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-background: #030014;
  --color-primary: #884030;
  --color-secondary: #c25e48;
}

:root {
  font-family: var(--font-sans);
  background-color: #030014;
  color: #ffffff;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(136, 64, 48, 0.5);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: #1e1e2e;
  border-radius: 5px;
  border: 2px solid #030014;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2a35;
}
